@model BizApp.Models.TxScore

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TxScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tx_id" class="control-label"></label>
                <select asp-for="tx_id" class ="form-control" asp-items="ViewBag.tx_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="run_id" class="control-label"></label>
                <select asp-for="run_id" class ="form-control" asp-items="ViewBag.run_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="label_pred" /> @Html.DisplayNameFor(model => model.label_pred)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="threshold" class="control-label"></label>
                <input asp-for="threshold" class="form-control" />
                <span asp-validation-for="threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reason_json" class="control-label"></label>
                <input asp-for="reason_json" class="form-control" />
                <span asp-validation-for="reason_json" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="explained_at" class="control-label"></label>
                <input asp-for="explained_at" class="form-control" />
                <span asp-validation-for="explained_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
